<div id="eocCover">
	<div id="eocContainer" tabindex="-1">
		<button type="button" class="xSpotEOC" tabindex="0" aria-label="{{default_content.Labels.bClose}}">X</button>
		<h2 id="eocHeader_full" class="eocHead">{{default_content.EndOfCourse.passedMsg}}</h2>
		<h2 id="eocHeader_soc" class="eocHead hidden">{{default_content.EndOfCourse.shortCourseEOC}}</h2>
		<div class="eocBody">
			<div class="eocText" id="surveyBlock">
				<button type="button" class="eocbutton survey" id="eocSurvey">{{default_content.EndOfCourse.surveyBtn}}</button>
				<p class="eocMessage">{{default_content.EndOfCourse.surveyMsg}}</p>
			</div>
			<div class="eocText" id="nextBlock">
				<button type="button" class="eocbutton next" id="eocNext">{{default_content.EndOfCourse.whatsNextBtn}}</button>
				<p class="eocMessage">{{default_content.EndOfCourse.whatsNextMsg}}</p>
			</div>
			<div class="eocText hidden" id="exitBlock">
				<button type="button" class="eocbutton exit" id="eocExit" disabled="true">{{default_content.EndOfCourse.exitBtn}}</button>
			</div>
		</div>
	</div>
</div>
