<footer id="indexFooter">
	<div id="footMenu">
		<div class="dashlink-container">
			<div class="inner-cont myDashboardlink" tabindex="0" role="link">
				<img src="includes/images/dash_btn.png" class="myDashboardlink" alt="" />
				<span class="footerlabel">{{default_content.Labels.dashboard}}</span>
			</div>
		</div>
		<div class="resourcelink-container">
			<div class="inner-cont resourceslink" tabindex="0" role="link">
				<img src="includes/images/extra_btn_icon.png" class="resourceslink" alt="" />
				<span class="footerlabel">{{default_content.Labels.resources}}</span>
			</div>
		</div>
		<div class="preplink-container">
			<div class="inner-cont examPreplink" tabindex="0" role="link">
				<img src="includes/images/extra_btn_icon.png" class="examPreplink" alt="" />
				<span class="footerlabel">{{default_content.Labels.examPrep}}</span>
			</div>
		</div>
		<div class="contactlink-container">
			<div class="inner-cont contact" tabindex="0" role="link">
				<img src="includes/images/contact_btn.png" class="contactlink" alt="" />
				<span class="footerlabel">{{default_content.Labels.Contact}}</span>
			</div>
		</div>
		<div class="glossarylink-container">
			<div class="inner-cont glossarylink" tabindex="0" role="link">
				<img src="includes/images/glossary_btn.png" class="glossarylink" alt="" />
				<span class="footerlabel">{{default_content.Labels.glossary}}</span>
			</div>
		</div>
	</div>
	<div id="legalstuff">
		<span id="copyrightnotice">{{default_content.Copyright.partOne}}{{default_content.Copyright.partTwo}}{{default_content.Copyright.partThree}}</span>
		<span class="terms_privacy_links"> 
			| <button class="termsBtn" type="button">{{default_content.Labels.termsOfUse}}</button> 
			| <button class="privacyBtn" type="button">{{default_content.Labels.privacyPolicy}}</button>
		</span>
	</div>
</footer>