<div id="pg_header">
    <div class="navbar-header pull-left">
        <button id="toc_toggle" class="nav-expander fixed toc_toggle" aria-labelledby="indexTOCText" type="button" aria-haspopup="true" aria-controls="toc-fContainer">
            <i class="fa fa-bars fa-lg white" id="bar_close">
                <span id="indexTOCText">{{default_content.Labels.tableOfContents}}</span>
            </i>
        </button>
    </div>

    <h1 id="Page_Title"></h1> 
    <div id="cRpage"></div>
    <div id="prg_Bar"></div>
</div>