<div id="vidCover">
	<div id="vidContainer" tabindex="-1">
		<button class="vidClose" id="vidClose" type="button" aria-label="{{default_content.Labels.bClose}}">X</button>
		<video controls="true" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true">
			<source src="" type="video/mp4" />
		</video>
		<div id="bTranscript" tabindex="-1" class="hidden"> </div>
		<button class="transcript-toggle" id="transcriptBtn" type="button"><span class="transcript-label">{{default_content.Labels.Transcript}}</span><span class="video-label hidden">{{default_content.Labels.Video}}</span></button>
	</div>
</div>
