<div id="portalContents" tabindex="-1">
    <div class="bTopBlock">
        <div class="description">
            <h1>{{default_content.Labels.gettingStarted}}</h1>
            <p style="width:100%; margin-bottom: 30px;">{{default_content.GettingStartedContent.IntroParagraphs[0]}}</p>
            <p style="width:100%;">{{default_content.GettingStartedContent.IntroParagraphs[1]}}</p>
            <div>
                <img src="includes/images/Install_And_Setup.png" alt="{{default_content.Labels.ereaderInstall}}" class="help_vid_btn" tabindex="0" role="button" data-vidnum="installation">
            </div>
            <a class="module_btn kotobeeDownload" href="https://www.kotobee.com/en/products/reader" target="_blank">{{default_content.GettingStartedContent.KotobeeReader}}</a>
            <a class="module_btn appleDownload" href="https://itunes.apple.com/us/app/apple-books/id364709193?mt=8" target="_blank">{{default_content.GettingStartedContent.AppleBooks}}</a>
            <p style="width:100%; margin-top: 30px;">{{default_content.GettingStartedContent.IntroParagraphs[2]}}</p>
            <p style="font-style:italic;">{{default_content.GettingStartedContent.IntroParagraphs[3]}}</p>
            <!-- TODO: Check to make sure moduleNum renders in Hybrid/PDF courses-->
            <div class="module_btn modulePageBtns modulelink" tabindex="0" role="link" data-length="{{TOC.length}}" data-module="true">{{default_content.Labels.moduleNum}}</div>
            <p style="width:100%; margin-top: 30px;">{{default_content.GettingStartedContent.IntroParagraphs[4]}}</p>
            <div>
                <img src="includes/images/Kotobee_Features.png" alt="{{default_content.GettingStartedContent.KotobeeFeatures}}" class="help_vid_btn" tabindex="0" role="button" data-vidnum="kotobeeFeatures">
                <img src="includes/images/Apple_Features.png" alt="{{default_content.GettingStartedContent.AppleFeatures}}" class="help_vid_btn" tabindex="0" role="button" data-vidnum="appleBooksFeatures">
            </div>
        </div>
    </div>
</div>