<div id="portalContents" tabindex="-1">
    <div class="theContent">
        <div class="description">
            <h1>{{default_content.Labels.help}}</h1>
            <div class="help-buttons">
                <div class="help_btn" data-length="{{help.length}}" tabindex="0" role="button">
                    {{help[i].sectionTitle}}
                </div>
            </div>
        </div>
        <div id="theHelp" tabindex="-1">
            <div id="portal_help">
                <h2 id="helpSubHead" class="bSubHead"></h2>
                <div id="portalhelpanswer" tabindex="-1" class="hidden">
                    <div class="helpback" tabindex="0" role="button">{{default_content.ReturnTo.returnToHelpTopics}}</div>
                    <div class="helptopichead"></div>
                    <div class="helptopicbody"></div>
                </div>
                <ul id="bHelptopics" class="hidden">
                    
                </ul>
            </div>
        </div>
        
        <div style="height: 200px; width:100%; background: transparent;">&#160;</div>
    </div>
</div>
