<div id="portalContents">
    <div id="en-US" class="description hidden">
        <h1>Integrity Statement</h1>
        <p>This course is designed to improve your job knowledge. Your company’s support of your participation in this course is an investment in your professional development. Completion of LOMA courses and designations represents a professional achievement, and all participants benefit when the standards of honesty and integrity are upheld. It is therefore imperative that you act with honesty and integrity in representing yourself and your company as you complete the examinations for this course.</p>
        <p>By checking the boxes below, I agree that:</p>
        <ul class="honest">
            <li>
                <div class="integrity-check" id="bIntegrity1" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    I am enrolled in this course and I am eligible to take the following exam.
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity2" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    I will be honest and act with integrity in all endeavors related to the completion of this course and agree that
                </div>
                <ul>
                    <li>
                        <div class="integrity-check" id="bIntegrity2a" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            I will not cheat on any exams or permit another student to cheat from my work;
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2b" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            I will not improperly acquire or share knowledge of the contents of an exam or obtain access through stealing or other unauthorized means;
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2c" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            I will not use any outside sources including, but not limited to, study materials, reference materials, other unauthorized materials, or any digital or mobile devices during an exam.
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity3" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    LOMA regularly gathers demographic and performance data for the purpose of statistical research projects and to monitor students’ compliance with the elements of professional behavior noted in this integrity statement.
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity4" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    LOMA works in partnership with our member companies to ensure all learners adhere to standards of integrity in completing course examinations
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity5" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    I will report any suspected exam violations to LOMA’s Office of the Registrar immediately. Any violation of this Integrity Statement shall result in the loss of course credit and any person suspected of engaging in misconduct on an exam or assignment in this course will be subject to LOMA’s <a href="https://www.loma.org/en/help-center/exams/exam-standards/due-process-policy" target="_blank" rel="noopener noreferrer">Due Process Policy</a>.
                </div>
            </li>
        </ul>
        <div>
            <button type="button" class="hiocexam_btn" id="exam_btn" disabled>Start the exam!</button>
        </div>
    </div>
    <div id="fr-CA" class="description hidden">
        <h1>Déclaration d'intégrité</h1>
        <p>Ce cours est conçu pour améliorer vos connaissances professionnelles. Le soutien de votre entreprise pour votre participation à ce cours constitue un investissement dans votre développement professionnel. L’achèvement des cours et des désignations de LOMA représente un exploit professionnel et profite à tous les participants lorsque les normes d’honnêteté et d’intégrité sont respectées.&nbsp;Il est donc impératif que vous agissiez avec honnêteté et intégrité en vous représentant, vous et votre entreprise, lorsque vous passer les examens de ce cours.</p>
        <p>En cochant les cases ci-dessous, je confirme que</p>
        <ul class="honest">
            <li>
                <div class="integrity-check" id="bIntegrity1" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    Je suis inscrit à ce cours et je peux passer l'examen suivant.
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity2" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    Je serai honnête et agirai avec intégrité dans toutes les démarches liées à l'achèvement de ce cours et j'atteste que
                </div>
                <ul>
                    <li>
                        <div class="integrity-check" id="bIntegrity2a" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            Je ne tricherai pas aux examens et ne laisserai pas un autre étudiant tricher sur base de mon travail;
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2b" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            Je ne vais pas acquérir ou partager indûment la connaissance du contenu d'un examen ni en obtenir l'accès par vol ou par tout autre moyen non autorisé;
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2c" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            Je n'utiliserai aucune source extérieure, y compris, mais sans s'y limiter, du matériel d'étude, du matériel de référence, du matériel non autorisé ou tout appareil numérique ou mobile au cours d'un examen.
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity3" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    LOMA recueille régulièrement des données démographiques et de performance aux fins de projets de recherche statistique et de suivi des étudiants’ le respect des éléments de comportement professionnel mentionnés dans cette déclaration d'intégrité.
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity4" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    LOMA travaille en partenariat avec ses sociétés membres pour s'assurer que tous les apprenants adhèrent aux normes d'intégrité lors de la réalisation des examens
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity5" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    Je signalerai immédiatement toute violation présumée d'un examen au bureau du registraire de LOMA. Toute violation de la présente déclaration d'intégrité entraînera la perte du crédit du cours et toute personne soupçonnée de se livrer à une inconduite lors d'un examen ou d'une tâche dans le cadre de ce cours sera soumise à la&nbsp; <a href="https://www.loma.org/en/help-center/exams/exam-standards/due-process-policy" target="_blank" rel="noopener noreferrer">politique de LOMA sur le respect de la procédure officielle.</a>.
                </div>
            </li>
        </ul>
        <div>
            <button type="button" class="hiocexam_btn" id="exam_btn" disabled>Commencez l'examen!</button>
        </div>
    </div>
    <div id="zh-CN" class="description hidden">
        <h1>诚信声明</h1>
        <p>本课程旨在充实您的专业知识。 贵公司支持您选修本课程是对您专业发展的投资。 恪守诚实和正直的标准，学习LOMA的课程，获得专业资格认证，代表你的专业成就。所有取得专业成就的人士都会从中受益。因此，当您参加本课程的考试时，您必须诚实、正直，这既代表您自己，也代表您的公司。 </p>
        <p>勾选下述方框，我同意：</p>
        <ul class="honest">
            <li>
                <div class="integrity-check" id="bIntegrity1" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    我已注册本课程，所以，我有资格参加下述考试。
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity2" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    我必须恪守诚实和正直的标准，完成本课程。我保证：
                </div>
                <ul>
                    <li>
                        <div class="integrity-check" id="bIntegrity2a" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            考试时自己不作弊，也不允许他人抄袭我的答案。
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2b" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            我不剽窃考试内容，也不采用不正当的手段。
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2c" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            参加考试时，我不夹带考试禁止的物品，包括但不限于：学习资料、参考资料、数码的或遥控的装置。
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity3" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    为了进行统计研究，LOMA会定期收集人口统计资料和考试成绩资料。s&rsquo; 籍此保证考生严格遵守诚信声明。
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity4" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    LOMA会与会员公司合作，确保所有的考生在完成课程考试时都遵循诚信标准。
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity5" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    对于违反LOMA考试规定的行为，我一定向 &rsquo;s 注册办公室及时举报。任何违反诚信声明的行为都会导致学分的丧失，任何涉事的考生都会受到 LOMA 的 <a href="https://www.loma.org/en/help-center/exams/exam-standards/due-process-policy" target="_blank" rel="noopener noreferrer">处罚</a>。
                </div>
            </li>
        </ul>
        <div>
            <button type="button" class="hiocexam_btn" id="exam_btn" disabled>开始考试！</button>
        </div>
    </div>
    <div id="zh-TW" class="description hidden">
        <h1>誠信聲明</h1>
        <p>本課程旨在充實您的專業知識。 貴公司支持您選修本課程是對您專業發展的投資。 恪守誠實和正直的標準，學習LOMA的課程，獲得專業資格認證，代表你的專業成就。所有取得專業成就的人士都會從中受益。因此，當您參加本課程的考試時，您必須誠實、正直，這既代表您自己，也代表您的公司。 </p>
        <p>勾選下述方框，我同意：</p>
        <ul class="honest">
            <li>
                <div class="integrity-check" id="bIntegrity1" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    我已註冊本課程，所以，我有資格參加下述考試。
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity2" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    我必須恪守誠實和正直的標準，完成本課程。我保證：
                </div>
                <ul>
                    <li>
                        <div class="integrity-check" id="bIntegrity2a" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            考試時自己不作弊，也不允許他人抄襲我的答案。
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2b" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            我不剽竊考試內容，也不採用不正當的手段。
                        </div>
                    </li>
                    <li>
                        <div class="integrity-check" id="bIntegrity2c" role="checkbox" aria-checked="false" tabindex="0">
                            <span class="bCheckmark"><span class="checked"></span></span>
                            參加考試時，我不夾帶考試禁止的物品，包括但不限於：學習資料、參考資料、數碼的或遙控的裝置。
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity3" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    爲了進行統計研究，LOMA會定期收集人口統計資料和考試成績資料。s&rsquo; 籍此保證考生嚴格遵守誠信聲明。
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity4" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    LOMA會與會員公司合作，確保所有的考生在完成課程考試時都遵循誠信標準。
                </div>
            </li>
            <li>
                <div class="integrity-check" id="bIntegrity5" role="checkbox" aria-checked="false" tabindex="0">
                    <span class="bCheckmark"><span class="checked"></span></span>
                    對於違反LOMA考試規定的行爲，我一定向 &rsquo;s 註冊辦公室及時舉報。任何違反誠信聲明的行爲都會導致學分的喪失，任何涉事的考生都會受到 LOMA 的 <a href="https://www.loma.org/en/help-center/exams/exam-standards/due-process-policy" target="_blank" rel="noopener noreferrer">處罰</a>。
                </div>
            </li>
        </ul>
        <div>
            <button type="button" class="hiocexam_btn" id="exam_btn" disabled>開始考試！</button>
        </div>
    </div>
</div>